
.rt{
    color:red;
}
.bt{
    color: blue;
}
#mt {
    font-size: 100px;
    margin-top: 50px;
}
.lb{
    color: green;
}
.lg{
    color: aqua;
}
#o{
    height: 200px;
    width: 200px;
    background: rgb(255, 0, 157);
}
#t{
    height: 100px;
    width: 100px;
    border-radius:50%;
    background-color: blue;
}
#h{
    height: 10px;
    width: 10px;
    background-color: brown;
}
li:last-child {
  background-color: rgb(255, 0, 0);
}
#us{
    border-radius:10px;
}
