.box1{
  height: 100px;  
  width: 100px;
  margin: 5px;
  background-color: blueviolet;
}
.box2{
    background-color: aquamarine;
    height: 100px;  
  width: 100px;
  margin: 5px;
}
.box3{
    background-color: brown;
    height: 100px;  
  width: 100px;
  margin: 5px;
}
.cont{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    height: 400px;
}
#r{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
}
#y{
    height: 100px;  
  width: 100px;
  margin: 5px;
  background-color: black;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    
    padding: 10px;
}
.navbar > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.card-container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 5px black ;
}
.card{
    height: 400px;
    width: 400px;
    background-color: bisque;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.button{
    margin-top: auto;
    width: 100px;
    height: 50px;
}